.input_element {
	margin-right: 2em;
}

.container {
	background-color: e0e0e0;
	border: 1px solid gray;
	width: 100%;
}

.container-bottom {
	background-color: #e0e0e0;
	border: 1px solid gray;
	width: 100%;
	height: 22em;
}

#remote {
	border: 5px ridge grey;
	width: 20em;
	height: 20em;
	margin: 1em;
	background-color: b0e0b0;
	float: left;
}

#remoteVideo {
	width: 100%;
	height: 100%;
}

#local {
	border: 5px ridge grey;
	width: 10em;
	height: 10em;
	margin-left: 1em;
	margin-top: 11em;
	margin-bottom: 0px;
	background-color: b0b0e0;
	float: left;
}

#localVideo {
	width: 100%;
	height: 100%;
}

#status-area {
	margin-left: 3em;
}


#status {
	background-color: white;
}


